<div class="container">
  @if (estadoFormulario) {
  <form class="formulario">
    <!-- Primer grupo -->
    <div class="formulario-izquierda">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="Nombre" placeholder="Nombre" />
        <label for="Nombre">Nombre</label>
      </div>

      <div class="form-floating">
        <input type="text" class="form-control" id="Apellidos" placeholder="Introduzca el apellidos" />
        <label for="Apellidos">Apellidos</label>
      </div>

      <div class="formulario-telefonos">
        <div class="form-floating">
          <input type="text" class="form-control telefonos" id="telefono" placeholder="telefono1" />
          <label for="telefono1">Teléfono</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="telefono1WhatApp" checked />
          <label class="form-check-label" for="telefono1WhatApp">
            ¿Es un Whatsapp?
          </label>
        </div>
      </div>

      <div class="formulario-telefonos">
        <div class="form-floating">
          <input type="text" class="form-control telefonos" id="telefono" placeholder="telefono2" />
          <label for="telefono2">Teléfono 2</label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="telefono2WhatApp" checked />
          <label class="form-check-label" for="telefono2WhatApp">
            ¿Es un Whatsapp?
          </label>
        </div>
      </div>

      <div class="form-floating">
        <select class="form-select" id="encargado" aria-label="Floating label select example">
          <option selected>Cliente asignado</option>
          <option value="1">María</option>
          <option value="2">Pepe</option>
          <option value="3">José</option>
        </select>
        <label for="encargado">Selecciona un Cliente (Empresa) que se encargará
        </label>
      </div>
    </div>
    <!-- Grupo de la derecha -->
    <div class="formulario-derecha">
      <!-- Correo -->
      <div class="form-floating">
        <input type="text" class="form-control" id="Correo" placeholder="Correo" />
        <label for="Correo">Correo</label>
      </div>

      <!-- Observaciones -->
      <div class="form-floating">
        <textarea class="form-control observaciones" placeholder="Deje sus observaciones aquí..."
          id="floatingTobservacionesextarea2" style="height: 100px"></textarea>
        <label for="observaciones">Observaciones</label>
      </div>

      <!-- Botones -->
      <div class="row justify-content-between">
        <button class="col-4 btn text-capitalize formulario-boton-cerrar "
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="¿Quieres cerrar el formulario?">
          CERRAR
        </button>
        <button class="col-4 btn text-capitalize formulario-boton-guardar"
        data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip"
        data-bs-title="Se creará un Cliente ╰(*°▽°*)╯">
          <i class="bi bi-floppy2-fill formulario-boton-guardar-icono"></i>GUARDAR
        </button>
      </div>
    </div>
  </form>
  }

  <div class="container-fluid d-flex flex-row justify-content-between align-items-start my-4">
    <app-buscador-contactos></app-buscador-contactos>

    <p class="texto text-center">{{ tamano }} Clientes encontrados</p>

    <button class="boton" (click)="cambiarEstadoFormulario()">
      <i class="bi bi-plus-circle text-dark me-2"></i>añadir contacto
    </button>
  </div>

  <div class="container-fluid hola">
    <table class="tabla-principal table border-radius table-responsive text-center">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Apellidos</td>
          <td>Correo</td>
          <td>Teléfono</td>
          <td>Observaciones</td>
          <td>Cliente asignado</td>
        </tr>
      </thead>
      <tbody>
        @for (contactos of ARcontactos; track $index) {
        <tr>
          <td>{{ contactos.nombre }}</td>
          <td>{{ contactos.apellidos }}</td>
          <td>{{ contactos.correo }}</td>
          <td>{{ contactos.telefono }}</td>
          <td>{{ contactos.observaciones }}</td>
          <td>{{ contactos.cliente }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>