.errores {
    font-size: 20px;
    color: var(--color-error);

    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.enlace {
    color: var(--color-terminado);
    /* Usa la variable CSS ya definida */
    text-decoration: underline;
    /* Asegura que tenga subrayado */
    cursor: pointer;
    transition: all 0.3s;
}

.enlace:hover {
    text-decoration: none;
    color: var(--color-desarrollo);
    background-color: var(--color-blanco);
    border-radius: 20px;
    padding: 0.2rem;
    transform: translateX(3px);
}


.exito {
    font-size: 20px;
    color: var(--color-primario);

    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
}


.modal-content {
    background-color: var(--color-blanco);
    border-radius: 15px;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
}

.modal-header {
    background-color: var(--color-secundario);
    border-bottom: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal-title {
        font-size: 20px;
        font-weight: bold;
        color: var(--color-blanco);
    }

    .formulario-boton-modalCerrar {
        color: var(--color-blanco);

        &:hover {
            color: var(--color-terciario);
        }
    }
}

.modal-body {
    font-size: 18px;
    padding: 0.5rem 1.5rem;

    .form-control,
    .form-select {
        background-color: rgba(var(--color-terciario), 0.7);
        border-radius: 10px;
    }

    .form-label {
        font-weight: 700;
        color: var(--color-primario);
    }
}

.modal-footer {
    background-color: var(--color-secundario);
    border-top: none;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .formulario-boton-cerrar,
    .formulario-boton-guardar {
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 20px;
        transition: all 0.3s;
    }

    .formulario-boton-cerrar {
        border: 1px solid var(--color-primario);
        background-color: var(--color-blanco);
        color: var(--color-primario);

        &:hover {
            color: var(--color-primario);
            background-color: var(--color-terciario);
            border: 1px solid var(--color-terciario);
        }
    }

    .formulario-boton-guardar {
        border: none;
        background-color: var(--color-primario);
        color: var(--color-blanco);

        &:hover {
            color: var(--color-primario);
            background-color: var(--color-terciario);
        }
    }
}

@media (min-width: 768px) and (max-width: 995px) {
    .formulario {
        font-size: 15px;

        &-boton-cerrar {
            font-size: 15px;
        }

        &-boton-guardar {
            font-size: 15px;
        }
    }

    .errores {
        font-size: 18px;
    }

    .exito {
        font-size: 18px;
    }

    .texto {
        font-size: 18px;
    }

    .boton {
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    .tabla-principal {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
        border: none;
        box-shadow: none;

        thead {
            display: none;
        }

        tbody {
            display: block;

            tr {
                display: block;
                background-color: var(--color-blanco);
                margin-bottom: 1rem;
                border: 1px solid var(--color-fondo);
                border-radius: 10px;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

                &:nth-child(even) {
                    background-color: var(--color-terciario);
                }

                td {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0.5rem 1rem;
                    font-size: 14px;
                    border-bottom: 1px solid var(--color-fondo);

                    &:last-child {
                        border-bottom: none;
                    }

                    &:before {
                        content: attr(data-label);
                        flex: 1;
                        font-weight: bold;
                        color: var(--color-primario);
                        text-align: left;
                    }

                    &:after {
                        flex: 2;
                        text-align: right;
                        color: var(--color-negro);
                    }
                }
            }

            tr.detalles-row {
                display: none;
                flex-direction: column;
                padding: 0.5rem 1rem;
                background-color: var(--color-terciario);
                border: 1px solid var(--color-fondo);
                border-radius: 10px;
                box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);

                &.show {
                    display: block;
                }

                .detalles {
                    font-size: 14px;
                    padding: 0.5rem 0;
                    border-top: 1px solid var(--color-fondo);

                    p {
                        margin: 0.3rem 0;
                        font-size: 14px;

                        b {
                            color: var(--color-primario);
                        }
                    }
                }
            }
        }
    }

    .icono {
        font-size: 18px;
        margin: 0 0.2rem;

        &:hover {
            font-size: 19px;
        }
    }

    .texto {
        font-size: 16px;
    }

    .boton {
        font-size: 16px;
        padding: 0.4rem 0.8rem;
    }

    .errores,
    .exito {
        font-size: 16px;
    }

    .formulario {
        font-size: 14px;
        margin: 0.7rem;
        margin-left: 0;
        padding: 0.7rem;

        &-boton-cerrar {
            font-size: 14px;
        }

        &-boton-guardar {
            font-size: 14px;
        }
    }

}