<div class="modal fade show" data-bs-backdrop="static" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: block;">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Identificación</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="formularioLogin" (ngSubmit)="enviar()">
              <div class="mb-3">
                <label for="username" class="form-label">Usuario</label>
                <input [ngClass]="{'is-invalid':hasErrors('nombre','required')}" 
                type="text" class="form-control" id="username" formControlName = "nombre">
                @if(hasErrors('nombre','required')){
                  <div class="text-danger">El nombre de usuario es necesario</div>
                }
                @if(hasErrors('nombre','minlength')){
                  <div class="text-danger">El nombre de usuario es necesario</div>
                }
              </div>
              <div class="mb-3">
                <label for="password" class="form-label" aria-describedby="contraseña" >Contraseña</label>
                <input [ngClass]="{'is-invalid':hasErrors('contrasena','required') || hasErrors('contrasena','maxlength')}" 
                type="password" class="form-control" id="password" formControlName = "contrasena">
                @if(hasErrors('contrasena','required')){
                  <div class="text-danger">La contraseña es necesaria</div>
                }
                
                @if(hasErrors('contrasena','maxlength')){
                  <div class="text-danger">La contraseña es demasiado grande, hay máximo de 15 caracteres</div>
                }
              </div>
            
              <button type="submit" class="btn btn-primary">Adelante</button>
          </form>
          </div>                
      </div>
  </div>
</div>
     
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button> -->

<!-- Modal -->
<!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div> -->