<div class="d-flex flex-row">
    <div class="buscador">
        <input class="buscador-input" type="text" [formControl]="busquedaControl" placeholder="Buscar...">
        <i class="bi bi-search buscador-icono" (click)="buscarBoton()"></i>
    </div>

    <select name="miselect" class="opciones ms-3" [(ngModel)]="selectedCliente">
        @for (valore of listaContactos; track $index) {
            <option [value]="valore">
                {{valore}}
            </option>
        }
    </select>
</div>