.buscador{
    // Tendrá el tamaño del contenido de dentro
    background-color: white;
    padding: 0;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    border-radius: 20px;
    cursor: pointer;

    &-input{
        // Le quito las lineas
        border: none;
        outline: none;
        // Le doy más tamaño
        margin-left: 0.8rem;
        padding-right: 5rem;
    }

    &-icono{
        margin: 0;
        padding: 0.2rem 0.4rem;
        padding-right: 0.3rem;
        cursor: pointer;
        &:hover{
            border-top-right-radius: 50%;
            border-bottom-right-radius: 50%;
            background-color: #4180AB;
            color: white;
        }
    }
}

.opciones{
    font-size: 1.3rem;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    background-color: #8AB3CF;
    color: white;
    border-radius: 20px;
    padding: 0 0.2rem;
}