@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Versiones en cursiva */

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Lato';
    src: url('../assets/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

// <link rel="stylesheet" href="{{ asset('bootstrap-icons/bootstrap-icons.css') }}">
// @import url("../assets/bootstrap-icons-1.11.3/bootstrap-icons-1.11.3/font/bootstrap-icons.css");
* {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.general {
    background-color: var(--color-fondo);
    // background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

// FOOTER
.footer {
    font-size: 1.125rem;
    background-color: var(--color-terciario);

    &-contenido {
        color: var(--color-primario);
    }

    &-blanco {
        color: var(--color-fondo);
        text-shadow: 1.5px 0px 1px rgba($color: var(--color-negro), $alpha: 0.5),
            0px 1.5px 1px rgba($color: var(--color-negro), $alpha: 0.5),
            -1.5px 0px 1px rgba($color: var(--color-negro), $alpha: 0.5),
            0px -1.5px 1px rgba($color: var(--color-negro), $alpha: 0.5);
    }
}

//-----------------------------------------------------------------
// NAVBAR
.navbar {
    height: 6vh;
    width: 100%;
    background-color: var(--color-primario) !important;
    font-size: 1.25rem;
    letter-spacing: 3px;
    // text-transform: uppercase;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;

    // Contenedor para limitarlo al 80%, aquí se pone el margen y la altura
    div {
        height: 100%; 
    }

    // Este es el enlace de la imagen
    &-brand{
        height: 90%;

        // Esta es la imagen en si, debe tener un tamaño para que se muestre
        &-logo {
            height: 100%;
        }
    }

    &-usuario {
        background-color: var(--color-blanco);
        border-radius: 10px;
        padding: 0;
        margin: 0;
    }

    &-enlaces{
        transition: all 0.2s;
    }

    &-enlaces:hover{
        color: var(--color-blanco);
        transform: translateY(-0.3rem);

        i{
            color: var(--color-blanco);
        }
    }
}

/* Estilos para enlaces activos e inactivos en la barra de navegación */
.nav-link {
    color: var(--color-negro);
    /* Color por defecto */
}

/* Estilo para el enlace activo */
.nav-link.active {
    color: var(--color-blanco);
    /* Color cuando el enlace está activo */
}
