.buscador {
//     // Tendrá el tamaño del contenido de dentro
    background-color: var(--color-blanco);
    
    font-size: 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 0;

    &-input {
        cursor: pointer;
        height: inherit;
        border-radius: 20px;
        // Le quito las lineas
        border: none;
        outline: none;
    }

    &-icono {
        cursor: pointer;
        transition: all 0.2s;

        &:hover {
            color: var(--color-primario);
            transform: scale(1.1);
        }
    }
}

.opciones {
    font-size: 20px;
    text-transform: capitalize;
    cursor: pointer;
    outline: none;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border-radius: 20px;
}

//Tamaños de letras
@media (min-width: 768px) and (max-width: 995px) {
    .buscador {
        font-size: 18px;
    }
    
    .opciones {
        font-size: 18px;
        padding: 0 0.4rem;
    }
}

@media (max-width: 767.98px) {
    .buscador {
        font-size: 16px;
    }

    .opciones {
        font-size: 16px;
    }
}