/* src/app/app.component.scss */

.tabla-principal {
    background-color: var(--color-blanco);
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow: hidden;

    // HEADER DE LA TABLA
    thead tr td {
        font-size: 1.25rem;
        /* 20px */
        font-weight: bold;
        background-color: var(--color-secundario);
    }

    // BODY DE LA TABLA
    tbody tr td {
        font-size: 18px;
        font-weight: 400;
        text-shadow: 0.1px 0.1px 1px var(--color-fondo);
        height: 2px;
        transition: all 0.2s;
    }

    tbody tr:nth-child(even) td {
        font-size: 18px;
        font-weight: 400;
        background-color: var(--color-terciario);
        text-shadow: 0.1px 0.1px 1px var(--color-fondo);
    }

    /*CUANDO ESTA HOVER OJITO*/
    tbody tr:hover td {
        font-size: 18px;
        /* 16px */
        cursor: pointer;
        background-color: var(--color-primario);
        color: var(--color-blanco);

        .editar i {
            color: var(--color-negro);
            transition: all 0.3s;

            &:hover {
                color: var(--color-secundario);
                transform: translateY(-0.4rem) !important;
            }
        }
    }
}

.texto {
    font-size: 20px;
}

.boton {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.25rem;
    outline: none;
    border: none;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border-radius: 20px;
    padding: 0 0.6rem;
    transition: all 0.3s;
    overflow: hidden;

    &-icono {
        color: var(--color-blanco);
    }

    &:hover {
        color: var(--color-secundario);
        background-color: var(--color-blanco);

        & .boton-icono {
            color: var(--color-secundario);
        }
    }

    &:active {
        scale: 1;
    }
}

.formulario {
    font-size: 18px;
    border-radius: 20px;
    background-color: var(--color-blanco);
    box-shadow: 1px 1px 4px rgba(var(--color-negro), 0.6);
    padding: 2.375rem 2.625rem;
    margin: 2rem 0;
    width: fit-content;

    &-grupo {
        width: 29rem;
    }

    & .form-floating {
        padding: 0;

        & .form-control {
            background-color: rgba(var(--color-terciario), 0.7);
            border-radius: 20px;
        }

        & .form-select.seleccionables {
            background-color: rgba(var(--color-terciario), 0.7);
            border-radius: 20px;
        }

        & textarea.observaciones {
            background-color: rgba(var(--color-terciario), 0.7);
        }
    }

    &-boton-cerrar {
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 20px;
        border: 1px solid var(--color-primario);
        background-color: var(--color-blanco);
        color: var(--color-primario);
        height: fit-content;
        text-transform: capitalize;

        transition: all 0.5s;

        &:hover {
            color: var(--color-primario);
            background-color: var(--color-terciario);
            border: 1px solid var(--color-terciario);
        }
    }

    &-boton-guardar {
        font-size: 18px;
        letter-spacing: 1px;
        border-radius: 20px;
        border: none;
        background-color: var(--color-primario);
        color: var(--color-blanco);
        text-transform: capitalize;
        transition: all 0.5s;

        &-icono {
            color: var(--color-blanco);
            margin-right: 0.5rem;
            transition: all 0.5s;
        }

        &:hover {
            color: var(--color-primario);
            background-color: var(--color-terciario);

            & .formulario-boton-guardar-icono {
                color: var(--color-primario);
            }
        }
    }
}

.estado {
    &-desarrollo {
        font-weight: 400 !important;
        color: var(--color-desarrollo); 
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

    &-terminado {
        font-weight: 400;
        color: var(--color-terminado);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }

    &-cancelado {
        font-weight: 400;
        color: var(--color-error);
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
}

.errores {
    font-size: 20px;
    color: var(--color-error);

    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
}

.exito {
    font-size: 20px;
    color: var(--color-primario);

    font-weight: 700;
    letter-spacing: 1px;
    word-spacing: 2px;
}

// Tamaños de los contenedores y espacios
@media (max-width: 995px) {
    .formulario {
        padding: 0.5rem 0.5rem;
        margin: 0.5rem 0.5rem;

        &-grupo {
            width: 100%;
        }
    }
}

//Tamaños de letras
@media (min-width: 768px) and (max-width: 995px) {
    .formulario {
        font-size: 15px;

        &-boton-cerrar {
            font-size: 15px;
        }

        &-boton-guardar {
            font-size: 15px;
        }
    }

    .errores {
        font-size: 18px;
    }
    
    .exito {
        font-size: 18px;
    }

    .texto {
        font-size: 18px;
    }
    
    .boton {
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    .formulario {
        font-size: 14px;

        &-boton-cerrar {
            font-size: 14px;
        }

        &-boton-guardar {
            font-size: 14px;
        }
    }
    .errores {
        font-size: 16px;
    }
    
    .exito {
        font-size: 16px;
    }

    .texto {
        font-size: 16px;
    }
    
    .boton {
        font-size: 16px;
    }
}