/* src/app/app.component.scss */

.tabla-principal {
    min-height: 79vh;
    background-color: var(--color-blanco);
    text-transform: capitalize;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    overflow: hidden;

    // HEADER DE LA TABLA
    thead tr td {
        font-size: 1.25rem;
        /* 20px */
        font-weight: bold;
        background-color: var(--color-secundario);
    }

    // BODY DE LA TABLA
    tbody tr td {
        height: 2px;
    }

    tbody tr:nth-child(even) td {
        font-size: 1rem;
        /* 16px */
        background-color: var(--color-terciario);
    }

    /*CUANDO ESTA HOVER OJITO*/
    tbody tr:hover td {
        font-size: 1rem;
        /* 16px */
        cursor: pointer;
        background-color: var(--color-primario);
        color: var(--color-blanco);
    }
}

.texto {
    font-size: 1.25rem;
    /* 20px */
}

.boton {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 1.25rem;
    outline: none;
    border: none;
    background-color: var(--color-secundario);
    color: var(--color-blanco);
    border-radius: 20px;
    padding: 0 0.6rem;
    transition: all 0.3s;
    overflow: hidden;

    &-icono {
        color: var(--color-blanco);
    }

    &:hover {
        color: var(--color-secundario);
        background-color: var(--color-blanco);

        & .boton-icono {
            color: var(--color-secundario);
        }
    }

    &:active{
        scale: 1;
    }
}

.formulario {
    font-size: 1rem;
    border-radius: 20px;
    background-color: var(--color-blanco);
    box-shadow: 1px 1px 4px rgba(var(--color-negro), 0.6);
    padding: 2.375rem 2.625rem;
    margin: 2rem 0;
    width: fit-content;

    &-grupo {
        width: 21.875rem;
    }

    & .form-floating {
        padding: 0;

        & .form-control {
            background-color: rgba(var(--color-terciario), 0.7);
            border-radius: 20px;
        }

        & .form-control.telefonos {
            width: 7rem;
        }

        & .form-control.codigoPostal {
            width: 7.5rem;
        }

        & .form-select.seleccionables {
            background-color: rgba(var(--color-terciario), 0.7);
            border-radius: 20px;
        }

        & textarea.observaciones {
            background-color: rgba(var(--color-terciario), 0.7);
        }
    }

    &-boton-cerrar {
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 20px;
        border: 1px solid var(--color-primario);
        background-color: var(--color-blanco);
        color: var(--color-primario);
        height: fit-content;
        text-transform: capitalize;

        transition: all 0.5s;

        &:hover {
            color: var(--color-primario);
            background-color: var(--color-terciario);
            border: 1px solid var(--color-terciario);
        }
    }

    &-boton-guardar {
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 20px;
        border: none;
        background-color: var(--color-primario);
        color: var(--color-blanco);
        text-transform: capitalize;
        transition: all 0.5s;

        &-icono {
            color: var(--color-blanco);
            margin-right: 0.5rem;
            transition: all 0.5s;
        }

        &:hover {
            color: var(--color-primario);
            background-color: var(--color-terciario);

            & .formulario-boton-guardar-icono {
                color: var(--color-primario);
            }
        }
    }
}

@media (max-width: 768px) {
    .formulario {
        gap: 3vw;
    }
}