<div class="container d-flex flex-column justify-content-center align-items-center">
  @if (estadoFormulario) {
  <form class="formulario row">
    <!-- Primer grupo -->
    <div class="col-6 formulario-grupo">
      <div class="row g-4">
        <div class="col-12 form-floating">
          <input type="text" class="form-control" id="Nombre" placeholder="Nombre" />
          <label for="Nombre">Nombre</label>
        </div>
        <div class="col-12 form-floating">
          <input type="text" class="form-control" id="Correo" placeholder="Correo" />
          <label for="Correo">Correo</label>
        </div>

        <div class="col-12">
          <div class="row justify-content-between">
            <div class="col-auto px-0">
              <div class="form-floating">
                <input type="text" class="form-control telefonos" id="telefono1"
                  placeholder="Introduzca el primer teléfono" aria-label="Introduzca el primer teléfono" />
                <label for="telefono1">Teléfono</label>
              </div>
            </div>
            <div class="col-auto px-0">
              <div class="form-floating">
                <select class="form-select seleccionables" id="encargado" aria-label="Elija el tipo de empresa">
                  <option selected>Tipo de empresa</option>
                  <option value="1">María</option>
                  <option value="2">Pepe</option>
                  <option value="3">José</option>
                </select>
                <label for="encargado">Elija el tipo de empresa</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12">
          <div class="row justify-content-between">
            <div class="col-auto px-0">
              <div class="form-floating">
                <input type="text" class="form-control telefonos" id="telefono2"
                  placeholder="Introduzca el segundo teléfono" />
                <label for="telefono2">Teléfono</label>
              </div>
            </div>
            <div class="col-auto px-0">
              <div class="form-floating">
                <select class="form-select seleccionables" id="encargado" aria-label="Floating label select example">
                  <option selected>Asignar persona a cargo</option>
                  <option value="1">María</option>
                  <option value="2">Pepe</option>
                  <option value="3">José</option>
                </select>
                <label for="encargado">Selecciona una persona a cargo</label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 form-floating">
          <input type="text" class="form-control" id="web" placeholder="Escriba la Web" />
          <label for="web">Página web</label>
        </div>
      </div>
    </div>

    <!-- SEGUNDO GRUPO -->
    <div class="col-6 ms-5 formulario-grupo">
      <div class="row g-4">
        <div class="col-12 form-floating">
          <input type="text" class="form-control" id="Direccion" placeholder="Escriba la direccion" />
          <label for="Direccion">Dirección</label>
        </div>

        <div class="col-12 form-floating">
          <input type="text" class="form-control" id="ciudad" placeholder="Escriba la ciudad" />
          <label for="ciudad">Ciudad</label>
        </div>

        <div class="col-12 form-floating">
          <input type="text" class="form-control" id="Provincia" placeholder="Escriba la provincia" />
          <label for="Provincia">Provincia</label>
        </div>

        <div class="col-12">
          <div class="row justify-content-between">
            <div class="col-auto px-0">
              <div class="form-floating">
                <input type="text" class="form-control" id="pais" placeholder="Introduzca el país" />
                <label for="pais">País</label>
              </div>
            </div>

            <div class="col-auto px-0">
              <div class="form-floating">
                <input type="text" class="form-control codigoPostal" id="codigoPostal"
                  placeholder="Introduzca el número de calle" />
                <label for="codigoPostal">Código Postal</label>
              </div>
            </div>
          </div>
        </div>

        

        

        <!-- Observaciones -->
        <div class="col-12 form-floating">
          <textarea class="form-control observaciones" placeholder="Deje sus observaciones aquí..."
            id="floatingTobservacionesextarea2" style="height: 100px"></textarea>
          <label for="observaciones">Observaciones</label>
        </div>

        <!-- Botones -->
        <div class="col-12">
          <div class="row justify-content-between">
            <div class="col-auto px-0">
              <button class="w-100 btn btn-primary text-capitalize formulario-boton-cerrar" 
              mat-raised-button
              aria-label="Cerrar el formulario"
              matTooltip="¿Quieres cerrar el formulario?">
                CERRAR
              </button>
            </div>
            <div class="col-auto px-0">
              <button class="col-auto btn btn-primary text-capitalize formulario-boton-guardar" mat-raised-button
                matTooltip="Se creará un Cliente ╰(*°▽°*)╯" aria-label="Guardar cliente">
                <i class="bi bi-floppy2-fill formulario-boton-guardar-icono"></i>
                GUARDAR
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </form>
  }

  <div class="container-fluid d-flex flex-row justify-content-between align-items-start my-4">
    <app-buscador></app-buscador>

    <p class="texto text-center">{{ tamano }} Clientes encontrados</p>

    <button class="boton" (click)="cambiarEstadoFormulario()">
      <i class="bi bi-plus-circle text-dark me-2"></i>añadir cliente
    </button>
  </div>

  <div class="container-fluid hola">
    <table class="tabla-principal table border-radius table-responsive text-center">
      <thead>
        <tr>
          <td>Nombre</td>
          <td>Ciudad</td>
          <td>Dirección</td>
          <td>Correo</td>
          <td>Estado</td>
          <td>Creación</td>
        </tr>
      </thead>
      <tbody>
        @for (cliente of ARclientes; track $index) {
        <tr (click)="verDetalles(cliente.id)">
          <td>{{ cliente.Nombre }}</td>
          <td>{{ cliente.Ciudad }}</td>
          <td>{{ cliente.Direccion }}</td>
          <td>{{ cliente.Correo }}</td>
          <td>{{ cliente.Estado }}</td>
          <td>{{ cliente.fechaCreacion }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>